openapi: 3.0.3
info:
    title: Goa API
    version: 0.0.1
servers:
    - url: http://localhost:80
      description: Default server for gophermart
paths:
    /api/api/user/orders:
        post:
            tags:
                - gophermart
            summary: post order gophermart
            operationId: gophermart#post order
            responses:
                "200":
                    description: The order number has already been uploaded by this user.
                "202":
                    description: The new order number has been processed.
                "400":
                    description: invalid request format
                "401":
                    description: User is not authenticated
                "409":
                    description: The order number has already been uploaded by another user
                "422":
                    description: Invalid order number format.
                "500":
                    description: Internal server error
components:
    schemas:
        PostOrderResult:
            type: object
tags:
    - name: gophermart
