swagger: "2.0"
info:
    title: ""
    version: "0.2"
host: localhost:80
basePath: /api
consumes:
    - text/plain
    - application/json
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /GET /orders/{number}:
        get:
            tags:
                - accrual
            summary: GetOrder accrual
            operationId: accrual#GetOrder
            parameters:
                - name: number
                  in: path
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/GetOrderResult'
                "500":
                    description: Internal Server Error response.
            schemes:
                - http
    /user/login:
        post:
            tags:
                - user
            summary: login user
            operationId: user#login
            parameters:
                - name: LoginRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/LoginPassword'
                    required:
                        - login
                        - password
            responses:
                "200":
                    description: OK response.
                    headers:
                        Authorization:
                            description: A JWT token used to authenticate a request
                            type: string
                "400":
                    description: Bad Request response.
                "401":
                    description: User is not authenticated
                "500":
                    description: Internal Server Error response.
            schemes:
                - http
    /user/orders:
        get:
            tags:
                - balance
            summary: ListUserOrder balance
            description: List user orders
            operationId: balance#ListUserOrder
            parameters:
                - name: Authorization
                  in: header
                  description: A JWT token used to authenticate a request
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Order'
                "204":
                    description: No orders available
                "401":
                    description: Missing or empty Authorization header
                    headers:
                        goa-attribute-fault:
                            description: Is the error a server-side fault?
                            type: boolean
                        goa-attribute-id:
                            description: ID is a unique identifier for this particular occurrence of the problem.
                            type: string
                        goa-attribute-message:
                            description: Message is a human-readable explanation specific to this occurrence of the problem.
                            type: string
                        goa-attribute-name:
                            description: Name is the name of this class of errors.
                            type: string
                        goa-attribute-temporary:
                            description: Is the error temporary?
                            type: boolean
                        goa-attribute-timeout:
                            description: Is the error a timeout?
                            type: boolean
                "500":
                    description: Internal Server Error response.
            schemes:
                - http
            security:
                - jwt_header_Authorization: []
        post:
            tags:
                - balance
            summary: UploadUserOrder balance
            description: Upload user order
            operationId: balance#UploadUserOrder
            parameters:
                - name: Authorization
                  in: header
                  description: A JWT token used to authenticate a request
                  required: true
                  type: string
                - name: string
                  in: body
                  description: Unique user order number
                  required: true
                  schema:
                    type: string
                    pattern: '[1-9][0-9]*'
            responses:
                "200":
                    description: The order has been accepted for processing before.
                "202":
                    description: The order has been accepted for processing.
                "400":
                    description: Bad Request response.
                "401":
                    description: Missing or empty Authorization header
                    headers:
                        goa-attribute-fault:
                            description: Is the error a server-side fault?
                            type: boolean
                        goa-attribute-id:
                            description: ID is a unique identifier for this particular occurrence of the problem.
                            type: string
                        goa-attribute-message:
                            description: Message is a human-readable explanation specific to this occurrence of the problem.
                            type: string
                        goa-attribute-name:
                            description: Name is the name of this class of errors.
                            type: string
                        goa-attribute-temporary:
                            description: Is the error temporary?
                            type: boolean
                        goa-attribute-timeout:
                            description: Is the error a timeout?
                            type: boolean
                "409":
                    description: The order belongs to another user
                "422":
                    description: Invalid order number
                "500":
                    description: Internal Server Error response.
            schemes:
                - http
            security:
                - jwt_header_Authorization: []
    /user/register:
        post:
            tags:
                - user
            summary: register user
            operationId: user#register
            parameters:
                - name: RegisterRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/LoginPassword'
                    required:
                        - login
                        - password
            responses:
                "200":
                    description: OK response.
                    headers:
                        Authorization:
                            description: A JWT token used to authenticate a request
                            type: string
                "400":
                    description: Bad Request response.
                "409":
                    description: Login is taken already
                "500":
                    description: Internal Server Error response.
            schemes:
                - http
definitions:
    GetOrderResult:
        title: GetOrderResult
        type: object
        properties:
            accrual:
                type: integer
                example: 839832540227140899
                format: int64
            order:
                type: string
                example: Voluptate et.
            status:
                type: string
                example: Maxime sequi qui accusamus aperiam rem.
        example:
            accrual: 2402250044807314231
            order: Magnam odit accusamus.
            status: Ipsam consequuntur sed repellat temporibus sit consequatur.
    LoginPassword:
        title: LoginPassword
        type: object
        properties:
            login:
                type: string
                example: Ratione sit asperiores consequuntur.
            password:
                type: string
                example: Ut et.
        example:
            login: <login>
            password: <password>
        required:
            - login
            - password
    Order:
        title: Order
        type: object
        properties:
            accrual:
                type: integer
                example: 17975470654812843867
                format: int64
            number:
                type: string
                example: "952"
                pattern: '[1-9][0-9]*'
            status:
                type: string
                example: NEW
                enum:
                    - NEW
                    - PROCESSING
                    - INVALID
                    - PROCESSED
            uploaded_at:
                type: string
                example: "2000-07-22T18:51:51Z"
                format: date-time
        example:
            accrual: 786640818561411755
            number: "772"
            status: PROCESSING
            uploaded_at: "1976-11-16T10:53:37Z"
        required:
            - number
            - status
            - uploaded_at
securityDefinitions:
    jwt_header_Authorization:
        type: apiKey
        description: Secures an endpoint by requiring a valid JWT token.
        name: Authorization
        in: header
