openapi: 3.0.3
info:
    title: Goa API
    version: 0.0.1
servers:
    - url: http://localhost:80
      description: Default server for gophermart
paths:
    /api/GET /api/orders/{number}:
        get:
            tags:
                - accrual
            summary: GetOrder accrual
            operationId: accrual#GetOrder
            parameters:
                - name: number
                  in: path
                  required: true
                  schema:
                    type: string
                    example: Nostrum ipsum.
                  example: Asperiores a.
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetOrderResult'
                            example:
                                accrual: 16851211498070021830
                                order: A asperiores.
                                status: Illo at occaecati illum dolor.
                "500":
                    description: 'Internal service error: Internal Server Error response.'
    /api/api/user/login:
        post:
            tags:
                - user
            summary: login user
            operationId: user#login
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/LoginPass'
                        example:
                            login: Aut dolores nam quo expedita.
                            password: Laborum est earum voluptates quo sed.
            responses:
                "200":
                    description: OK response.
                "400":
                    description: 'Invalid input parameter: Bad Request response.'
                "401":
                    description: 'User is not authenticated: Unauthorized response.'
                "500":
                    description: 'Internal service error: Internal Server Error response.'
                "501":
                    description: 'Not implemented: Not Implemented response.'
    /api/api/user/orders:
        post:
            tags:
                - balance
            summary: post order balance
            operationId: balance#post order
            responses:
                "200":
                    description: The order has been accepted for processing before.
                "202":
                    description: The order has been accepted for processing.
                "400":
                    description: 'Invalid input parameter: Bad Request response.'
                "401":
                    description: 'User is not authenticated: Unauthorized response.'
                "409":
                    description: 'The order belongs to another user: Conflict response.'
                "422":
                    description: 'Invalid order number: Unprocessable Entity response.'
                "500":
                    description: 'Internal service error: Internal Server Error response.'
                "501":
                    description: 'Not implemented: Not Implemented response.'
    /api/api/user/register:
        post:
            tags:
                - user
            summary: register user
            operationId: user#register
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/LoginPass'
                        example:
                            login: Fugiat dolores doloremque non sunt distinctio.
                            password: Ex atque qui dolore facilis id.
            responses:
                "200":
                    description: OK response.
                "400":
                    description: 'Invalid input parameter: Bad Request response.'
                "500":
                    description: 'Internal service error: Internal Server Error response.'
                "501":
                    description: 'Not implemented: Not Implemented response.'
components:
    schemas:
        GetOrderResult:
            type: object
            properties:
                accrual:
                    type: integer
                    example: 17089541985497195692
                    format: int64
                order:
                    type: string
                    example: Neque veritatis et est est facere.
                status:
                    type: string
                    example: Dolores dolor.
            example:
                accrual: 16206595565553352438
                order: Hic alias aut.
                status: Nobis laboriosam.
        GophermartError:
            type: object
        LoginPass:
            type: object
            properties:
                login:
                    type: string
                    example: Iusto et et necessitatibus ut et.
                password:
                    type: string
                    example: Perferendis aliquid.
            example:
                login: Consequuntur recusandae et consequuntur.
                password: Omnis sint.
            required:
                - login
                - password
        PostOrderResult:
            type: object
        UserServiceResult:
            type: object
            example: {}
tags:
    - name: user
    - name: balance
    - name: accrual
