swagger: "2.0"
info:
    title: ""
    version: 0.0.1
host: localhost:80
basePath: /api
consumes:
    - text/plain
    - application/json
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /:
        get:
            tags:
                - MyService
            summary: Method MyService
            operationId: MyService#Method
            parameters:
                - name: string
                  in: body
                  required: true
                  schema:
                    type: string
            responses:
                "204":
                    description: No Content response.
                "400":
                    description: Bad Request response.
                    schema:
                        $ref: '#/definitions/CustomError'
                        required:
                            - name
                            - message
                            - occurred_at
                "500":
                    description: Internal Server Error response.
                    schema:
                        $ref: '#/definitions/CustomError'
                        required:
                            - name
                            - message
                            - occurred_at
            schemes:
                - http
    /api/user/login:
        post:
            tags:
                - user
            summary: login user
            operationId: user#login
            parameters:
                - name: LoginRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/LoginPass'
                    required:
                        - login
                        - password
            responses:
                "200":
                    description: OK response.
            schemes:
                - http
    /api/user/orders:
        post:
            tags:
                - balance
            summary: post order balance
            operationId: balance#post order
            responses:
                "200":
                    description: The order number has already been uploaded by this user.
                "202":
                    description: The new order number has been processed.
                "400":
                    description: Bad Request response.
                    schema:
                        $ref: '#/definitions/OggophermartError'
                        required:
                            - name
                "401":
                    description: User is not authenticated
                "409":
                    description: The order number has already been uploaded by another user
                "422":
                    description: Invalid order number format.
                "500":
                    description: Internal server error
            schemes:
                - http
    /api/user/register:
        post:
            tags:
                - user
            summary: register user
            operationId: user#register
            parameters:
                - name: RegisterRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/LoginPass'
                    required:
                        - login
                        - password
            responses:
                "200":
                    description: OK response.
            schemes:
                - http
definitions:
    CustomError:
        title: CustomError
        type: object
        properties:
            message:
                type: string
                description: Message of error.
                example: Magnam sint odit provident.
            name:
                type: string
                description: Name of error.
                example: Id ad.
            occurred_at:
                type: string
                description: Time error occurred.
                example: "1993-11-09T12:44:31Z"
                format: date-time
        example:
            message: Soluta molestias at quia repellat officiis.
            name: Eius asperiores reprehenderit.
            occurred_at: "1995-08-08T15:28:45Z"
        required:
            - name
            - message
            - occurred_at
    LoginPass:
        title: LoginPass
        type: object
        properties:
            login:
                type: string
                example: Praesentium nobis.
            password:
                type: string
                example: Magnam eos soluta dignissimos.
        example:
            login: Impedit ut ratione.
            password: Culpa corrupti tempora qui.
        required:
            - login
            - password
    OggophermartError:
        title: OggophermartError
        type: object
        properties:
            name:
                type: string
                description: identifier to map an error to HTTP status codes
                example: Cupiditate voluptatem ullam.
        example:
            name: Laudantium ut eum.
        required:
            - name
