swagger: "2.0"
info:
    title: ""
    version: 0.0.1
host: localhost:80
basePath: /api
consumes:
    - text/plain
    - application/json
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /api/user/login:
        post:
            tags:
                - user
            summary: login user
            operationId: user#login
            parameters:
                - name: LoginRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/LoginPass'
                    required:
                        - login
                        - password
            responses:
                "200":
                    description: OK response.
                "400":
                    description: Bad Request response.
            schemes:
                - http
    /api/user/orders:
        post:
            tags:
                - balance
            summary: post order balance
            operationId: balance#post order
            responses:
                "200":
                    description: The order number has already been uploaded by this user.
                "202":
                    description: The new order number has been processed.
                "401":
                    description: User is not authenticated
                "409":
                    description: The order number has already been uploaded by another user
                "422":
                    description: Invalid order number format.
                "500":
                    description: Internal server error
                "502":
                    description: aaaa
            schemes:
                - http
    /api/user/register:
        post:
            tags:
                - user
            summary: register user
            operationId: user#register
            parameters:
                - name: RegisterRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/LoginPass'
                    required:
                        - login
                        - password
            responses:
                "200":
                    description: OK response.
                "400":
                    description: Bad Request response.
            schemes:
                - http
definitions:
    LoginPass:
        title: LoginPass
        type: object
        properties:
            login:
                type: string
                example: Sunt distinctio porro ex atque.
            password:
                type: string
                example: Dolore facilis id est aut dolores nam.
        example:
            login: Expedita a laborum.
            password: Earum voluptates.
        required:
            - login
            - password
