swagger: "2.0"
info:
    title: ""
    version: "0.2"
host: localhost:80
basePath: /api
consumes:
    - text/plain
    - application/json
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /GET /orders/{number}:
        get:
            tags:
                - accrual
            summary: GetOrder accrual
            operationId: accrual#GetOrder
            parameters:
                - name: number
                  in: path
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/GetOrderResult'
                "500":
                    description: Internal Server Error response.
            schemes:
                - http
    /user/login:
        post:
            tags:
                - user
            summary: login user
            operationId: user#login
            parameters:
                - name: LoginRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/LoginPassword'
                    required:
                        - login
                        - password
            responses:
                "200":
                    description: OK response.
                    headers:
                        Authorization:
                            description: A JWT token used to authenticate a request
                            type: string
                "400":
                    description: Bad Request response.
                "401":
                    description: Unauthorized response.
                "500":
                    description: Internal Server Error response.
            schemes:
                - http
    /user/orders:
        post:
            tags:
                - balance
            summary: UploadUserOrder balance
            description: Upload user order
            operationId: balance#UploadUserOrder
            parameters:
                - name: Authorization
                  in: header
                  description: A JWT token used to authenticate a request
                  required: true
                  type: string
                - name: string
                  in: body
                  description: Unique user order number
                  required: true
                  schema:
                    type: string
                    pattern: '[1-9][0-9]*'
            responses:
                "200":
                    description: The order has been accepted for processing before.
                "202":
                    description: The order has been accepted for processing.
                "400":
                    description: Bad Request response.
                "401":
                    description: Missing or empty Authorization header
                    headers:
                        goa-attribute-fault:
                            description: Is the error a server-side fault?
                            type: boolean
                        goa-attribute-id:
                            description: ID is a unique identifier for this particular occurrence of the problem.
                            type: string
                        goa-attribute-message:
                            description: Message is a human-readable explanation specific to this occurrence of the problem.
                            type: string
                        goa-attribute-name:
                            description: Name is the name of this class of errors.
                            type: string
                        goa-attribute-temporary:
                            description: Is the error temporary?
                            type: boolean
                        goa-attribute-timeout:
                            description: Is the error a timeout?
                            type: boolean
                "409":
                    description: Conflict response.
                "422":
                    description: Unprocessable Entity response.
            schemes:
                - http
            security:
                - jwt_header_Authorization: []
    /user/register:
        post:
            tags:
                - user
            summary: register user
            operationId: user#register
            parameters:
                - name: RegisterRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/LoginPassword'
                    required:
                        - login
                        - password
            responses:
                "200":
                    description: OK response.
                    headers:
                        Authorization:
                            description: A JWT token used to authenticate a request
                            type: string
                "400":
                    description: Bad Request response.
                "409":
                    description: Conflict response.
                "500":
                    description: Internal Server Error response.
            schemes:
                - http
definitions:
    GetOrderResult:
        title: GetOrderResult
        type: object
        properties:
            accrual:
                type: integer
                example: 17322971476842261040
                format: int64
            order:
                type: string
                example: Facere delectus dolores dolor aut quaerat.
            status:
                type: string
                example: Alias aut quibusdam nobis.
        example:
            accrual: 17196007522552377596
            order: Voluptatem iusto.
            status: Et necessitatibus ut.
    LoginPassword:
        title: LoginPassword
        type: object
        properties:
            login:
                type: string
                example: Perferendis aliquid.
            password:
                type: string
                example: Consequuntur recusandae et consequuntur.
        example:
            login: Omnis sint.
            password: Nostrum ipsum.
        required:
            - login
            - password
securityDefinitions:
    jwt_header_Authorization:
        type: apiKey
        description: Secures an endpoint by requiring a valid JWT token.
        name: Authorization
        in: header
