openapi: 3.0.3
info:
    title: Goa API
    version: 0.0.1
servers:
    - url: http://localhost:80
      description: Default server for gophermart
paths:
    /api/api/user/login:
        post:
            tags:
                - user
            summary: login user
            operationId: user#login
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/LoginPass'
                        example:
                            login: Odio eius repellendus amet.
                            password: Eveniet fugiat dolores doloremque.
            responses:
                "200":
                    description: OK response.
                "400":
                    description: 'invalid input parameter: Bad Request response.'
                "500":
                    description: 'internal service error: Internal Server Error response.'
    /api/api/user/orders:
        post:
            tags:
                - balance
            summary: post order balance
            operationId: balance#post order
            responses:
                "200":
                    description: The order number has already been uploaded by this user.
                "202":
                    description: The new order number has been processed.
                "400":
                    description: 'invalid input parameter: Bad Request response.'
                "401":
                    description: 'unauthorized: User is not authenticated'
                "409":
                    description: 'already uploaded: The order number has already been uploaded by another user'
                "422":
                    description: 'invalid order number: invalid format'
                "500":
                    description: 'internal service error: Internal Server Error response.'
    /api/api/user/register:
        post:
            tags:
                - user
            summary: register user
            operationId: user#register
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/LoginPass'
                        example:
                            login: Laboriosam est impedit expedita sunt.
                            password: Reprehenderit quaerat quibusdam eos.
            responses:
                "200":
                    description: OK response.
                "400":
                    description: 'invalid input parameter: Bad Request response.'
                "500":
                    description: 'internal service error: Internal Server Error response.'
components:
    schemas:
        LoginPass:
            type: object
            properties:
                login:
                    type: string
                    example: Sed odit vel architecto natus voluptatem.
                password:
                    type: string
                    example: Illum a explicabo cum incidunt libero.
            example:
                login: Commodi a asperiores.
                password: Illo at occaecati illum dolor.
            required:
                - login
                - password
        OggophermartError:
            type: object
        PostOrderResult:
            type: object
        UserServiceResult:
            type: object
            example: {}
tags:
    - name: user
    - name: balance
